.App {
  padding: 4rem;
  background-color: dimgray;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.cards-container-static {
  row-gap: 0;
  display: flex;
  flex-direction: row;
}

.cards-container-static-row {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.cards-container-static-column {
  width: 20%;
  display: flex;
  flex-direction: column;
}


.search-box {
  outline: none;
  width: 100%;
  border: 1px solid grey;
  font-size: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}

.title {
  text-align: center;
  color:khaki;
  font-size:90px;
}

.subtitle {
  text-align: center;
  margin-top: -50px;
  color:beige;
  font-size:20px;
}