.profile {
    margin: 2rem 2rem 0rem 0;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
    transition: transform .3s ease;
    cursor: pointer;
    background-color:gainsboro;
}

div[dataId="MichaelWang"]{
    width: 66% !important;
    background-color: lightcoral;
}

div[dataId="JimmyLu"]{
    width: 34% !important;
    background-color: navajowhite;
}

div[dataId="ZipeiWei"]{
    width: 100% !important;
    background-color:antiquewhite;
}

div[dataId="NikenLee"]{
    width: 100% !important;
    background-color: antiquewhite;
}


.cards-container > .profile{
    width: 250px !important;

}

.profile:hover {
    transform: scale(1.1);
}

.profile__title {
    font-weight: 800;
    font-size: 1.5rem;
}

.profile__image {
    display: flex;
    justify-content: flex-end;
}
.profile__image img {
    border-radius: 50%;
}

.risk_level {
    margin-bottom: 10px;
}